# データサイエンス100本ノック（構造化データ加工編） - R

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- 利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあれば適宜インストールしてください（!マークに続けてOSコマンドを入力することで、任意のubuntu Linuxコマンドが入力可能）
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
require('RPostgreSQL')
require('tidyr')
require('dplyr')
require('stringr')
require('caret')
require('lubridate')
require('rsample')
require('unbalanced')

host <- 'db'
port <- Sys.getenv()["PG_PORT"]
dbname <- Sys.getenv()["PG_DATABASE"]
user <- Sys.getenv()["PG_USER"]
password <- Sys.getenv()["PG_PASSWORD"]

con <- dbConnect(PostgreSQL(), host=host, port=port, dbname=dbname, user=user, password=password)
df_customer <- dbGetQuery(con,"SELECT * FROM customer")
df_category <- dbGetQuery(con,"SELECT * FROM category")
df_product <- dbGetQuery(con,"SELECT * FROM product")
df_receipt <- dbGetQuery(con,"SELECT * FROM receipt")
df_store <- dbGetQuery(con,"SELECT * FROM store")
df_geocode <- dbGetQuery(con,"SELECT * FROM geocode")

Loading required package: RPostgreSQL

Loading required package: DBI

Loading required package: tidyr

Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: stringr

Loading required package: caret

Loading required package: lattice

Loading required package: ggplot2

Loading required package: lubridate


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


Loading required package: rsample

Loading required package: unbalanced

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘unbalanced’”

# 演習問題

---
> R-001: レシート明細データフレーム（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [3]:
head(df_receipt)

  sales_ymd sales_epoch store_cd receipt_no receipt_sub_no customer_id
1 20181103  1541203200  S14006    112       1              CS006214000001
2 20181118  1542499200  S13008   1132       2              CS008415000097
3 20170712  1499817600  S14028   1102       1              CS028414000014
4 20190205  1549324800  S14042   1132       1              ZZ000000000000
5 20180821  1534809600  S14025   1102       2              CS025415000050
6 20190605  1559692800  S13003   1112       1              CS003515000195
  product_cd quantity amount
1 P070305012 1        158
2 P070701017 1         81
3 P060101005 1        170
4 P050301001 1         25
5 P060102007 1         90
6 P050102002 1        138

---
> R-002: レシート明細データフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。

In [5]:
df_receipt %>%
select(sales_ymd, customer_id, product_cd, amount)%>%
head()

  sales_ymd customer_id    product_cd amount
1 20181103  CS006214000001 P070305012 158
2 20181118  CS008415000097 P070701017  81
3 20170712  CS028414000014 P060101005 170
4 20190205  ZZ000000000000 P050301001  25
5 20180821  CS025415000050 P060102007  90
6 20190605  CS003515000195 P050102002 138

---
> R-003: レシート明細データフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。ただし、sales_ymdはsales_dateに項目名を変更しながら抽出すること。

In [8]:
df_receipt %>%
select(sales_ymd, customer_id, product_cd, amount)%>%
rename(sales_date = sales_ymd)%>%
head()

  sales_date customer_id    product_cd amount
1 20181103   CS006214000001 P070305012 158
2 20181118   CS008415000097 P070701017  81
3 20170712   CS028414000014 P060101005 170
4 20190205   ZZ000000000000 P050301001  25
5 20180821   CS025415000050 P060102007  90
6 20190605   CS003515000195 P050102002 138

---
> R-004: レシート明細データフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"

In [12]:
df_receipt %>%
select(sales_ymd, customer_id, product_cd, amount)%>%
filter(customer_id == "CS018205000001")

   sales_ymd customer_id    product_cd amount
1  20180911  CS018205000001 P071401012 2200
2  20180414  CS018205000001 P060104007  600
3  20170614  CS018205000001 P050206001  990
4  20170614  CS018205000001 P060702015  108
5  20190216  CS018205000001 P071005024  102
6  20180414  CS018205000001 P071101002  278
7  20190226  CS018205000001 P070902035  168
8  20190924  CS018205000001 P060805001  495
9  20190226  CS018205000001 P071401020 2200
10 20180911  CS018205000001 P071401005 1100
11 20190216  CS018205000001 P040101002  218
12 20190924  CS018205000001 P091503001  280

---
> R-005: レシート明細データフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [13]:
df_receipt %>%
select(sales_ymd, customer_id, product_cd, amount)%>%
filter(customer_id == "CS018205000001" & amount >= 1000)

  sales_ymd customer_id    product_cd amount
1 20180911  CS018205000001 P071401012 2200
2 20190226  CS018205000001 P071401020 2200
3 20180911  CS018205000001 P071401005 1100

---
> R-006: レシート明細データフレーム（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [15]:
df_receipt %>%
select(sales_ymd, customer_id,quantity ,product_cd, amount)%>%
filter(customer_id == "CS018205000001" & (amount >= 1000 | quantity >= 5))

  sales_ymd customer_id    quantity product_cd amount
1 20180911  CS018205000001 1        P071401012 2200
2 20180414  CS018205000001 6        P060104007  600
3 20170614  CS018205000001 5        P050206001  990
4 20190226  CS018205000001 1        P071401020 2200
5 20180911  CS018205000001 1        P071401005 1100

---
> R-007: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [18]:
df_receipt %>%
select(sales_ymd, customer_id,quantity ,product_cd, amount)%>%
filter(customer_id == "CS018205000001" & between(amount,1000 , 2000))

  sales_ymd customer_id    quantity product_cd amount
1 20180911  CS018205000001 1        P071401005 1100

---
> R-008: レシート明細データフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [19]:
df_receipt %>%
select(sales_ymd, customer_id,quantity ,product_cd, amount)%>%
filter(customer_id == "CS018205000001" & product_cd != 'P071401019')

   sales_ymd customer_id    quantity product_cd amount
1  20180911  CS018205000001 1        P071401012 2200
2  20180414  CS018205000001 6        P060104007  600
3  20170614  CS018205000001 5        P050206001  990
4  20170614  CS018205000001 1        P060702015  108
5  20190216  CS018205000001 1        P071005024  102
6  20180414  CS018205000001 1        P071101002  278
7  20190226  CS018205000001 1        P070902035  168
8  20190924  CS018205000001 1        P060805001  495
9  20190226  CS018205000001 1        P071401020 2200
10 20180911  CS018205000001 1        P071401005 1100
11 20190216  CS018205000001 1        P040101002  218
12 20190924  CS018205000001 1        P091503001  280

---
> R-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。

`
df_store %>%
    filter(!(prefecture_cd == "13" | floor_area > 900))
`

In [20]:
df_store %>%
filter(prefecture_cd != "13" & floor_area <= 900)

  store_cd store_name prefecture_cd prefecture
1 S14046   北山田店   14            神奈川県
2 S14011   日吉本町店 14            神奈川県
3 S12013   習志野店   12            千葉県
  address
1 神奈川県横浜市都筑区北山田一丁目
2 神奈川県横浜市港北区日吉本町四丁目
3 千葉県習志野市芝園一丁目
  address_kana                                                 tel_no
1 カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ         045-123-4049
2 カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ 045-123-4033
3 チバケンナラシノシシバゾノイッチョウメ                       047-123-4002
  longitude latitude floor_area
1 139.5916  35.56189 831
2 139.6316  35.54655 890
3 140.0220  35.66122 808

---
> R-010: 店舗データフレーム（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件だけ表示せよ。

In [24]:
df_store%>%
filter(grepl("^S14", store_cd))%>%
head(10)

   store_cd store_name   prefecture_cd prefecture
1  S14010   菊名店       14            神奈川県
2  S14033   阿久和店     14            神奈川県
3  S14036   相模原中央店 14            神奈川県
4  S14040   長津田店     14            神奈川県
5  S14050   阿久和西店   14            神奈川県
6  S14028   二ツ橋店     14            神奈川県
7  S14012   本牧和田店   14            神奈川県
8  S14046   北山田店     14            神奈川県
9  S14022   逗子店       14            神奈川県
10 S14011   日吉本町店   14            神奈川県
   address
1  神奈川県横浜市港北区菊名一丁目
2  神奈川県横浜市瀬谷区阿久和西一丁目
3  神奈川県相模原市中央二丁目
4  神奈川県横浜市緑区長津田みなみ台五丁目
5  神奈川県横浜市瀬谷区阿久和西一丁目
6  神奈川県横浜市瀬谷区二ツ橋町
7  神奈川県横浜市中区本牧和田
8  神奈川県横浜市都筑区北山田一丁目
9  神奈川県逗子市逗子一丁目
10 神奈川県横浜市港北区日吉本町四丁目
   address_kana                                                 tel_no
1  カナガワケンヨコハマシコウホククキクナイッチョウメ           045-123-4032
2  カナガワケンヨコハマシセヤクアクワニシイッチョウメ           045-123-4043
3  カナガワケンサガミハラシチュウオウニチョウメ                 042-123-4045
4  カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ   045-123-4046
5  カナガワケンヨコハマシセヤクアクワニシイッチョウメ           045-123-4053
6  カナガワケンヨコハマシセヤクフタツバシチョウ                 045-123-4042
7  カナガワケンヨコハマシナカクホンモクワダ                     045-123-4034
8  カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ         045-123-4049
9  カナガワケンズシシズシイッチョウメ                           046-123-4036
10 カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ 045-123-4033
   longitude latitude floor_area
1  139.6326  35.50049 1732
2  139.4961  35.45918 1495
3  139.3716  35.57327 1679
4  139.4994  35.52398 1548
5  139.4961  35.45918 1830
6  139.4963  35.46304 1574
7  139.6582  35.42156 1341
8  139.5916  35.56189  831
9  139.5789  35.29642 1838
10 139.6316  35.54655  890

---
> R-011: 顧客データフレーム（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件だけ表示せよ。

In [27]:
df_customer%>%
filter(grepl("1$", customer_id))%>%
head(3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS037613000071 六角 雅彦     9         不明   1952-04-01 66  136-0076
2 CS028811000001 堀井 かおり   1         女性   1933-03-27 86  245-0016
3 CS040412000191 川井 郁恵     1         女性   1977-01-05 42  226-0021
  address                              application_store_cd application_date
1 東京都江東区南砂**********           S13037               20150414
2 神奈川県横浜市泉区和泉町**********   S14028               20160115
3 神奈川県横浜市緑区北八朔町********** S14040               20151101
  status_cd
1 0-00000000-0
2 0-00000000-0
3 1-20091025-4

---
> R-012: 店舗データフレーム（df_store）から横浜市の店舗だけ全項目表示せよ。

In [29]:
df_store%>%
filter(grepl("横浜市",address))%>%
head(3)

  store_cd store_name prefecture_cd prefecture
1 S14010   菊名店     14            神奈川県
2 S14033   阿久和店   14            神奈川県
3 S14040   長津田店   14            神奈川県
  address
1 神奈川県横浜市港北区菊名一丁目
2 神奈川県横浜市瀬谷区阿久和西一丁目
3 神奈川県横浜市緑区長津田みなみ台五丁目
  address_kana                                               tel_no
1 カナガワケンヨコハマシコウホククキクナイッチョウメ         045-123-4032
2 カナガワケンヨコハマシセヤクアクワニシイッチョウメ         045-123-4043
3 カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ 045-123-4046
  longitude latitude floor_area
1 139.6326  35.50049 1732
2 139.4961  35.45918 1495
3 139.4994  35.52398 1548

---
> R-013: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件だけ表示せよ。

In [41]:
df_customer %>% filter(grepl("^[A-F]", status_cd))%>%head(3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS031415000172 宇多田 貴美子 1         女性   1976-10-04 42  151-0053
2 CS015414000103 奥野 陽子     1         女性   1977-08-09 41  136-0073
3 CS011215000048 芦田 沙耶     1         女性   1992-02-01 27  223-0062
  address                                application_store_cd application_date
1 東京都渋谷区代々木**********           S13031               20150529
2 東京都江東区北砂**********             S13015               20150722
3 神奈川県横浜市港北区日吉本町********** S14011               20150228
  status_cd
1 D-20100325-C
2 B-20100609-B
3 C-20100421-9

---
> R-014: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件だけ表示せよ。

In [42]:
df_customer%>%
filter(grepl("[1-9]$", status_cd))%>%
head(3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS001215000145 田崎 美紀     1         女性   1995-03-29 24  144-0055
2 CS033513000180 安斎 遥       1         女性   1962-07-11 56  241-0823
3 CS011215000048 芦田 沙耶     1         女性   1992-02-01 27  223-0062
  address                                application_store_cd application_date
1 東京都大田区仲六郷**********           S13001               20170605
2 神奈川県横浜市旭区善部町**********     S14033               20150728
3 神奈川県横浜市港北区日吉本町********** S14011               20150228
  status_cd
1 6-20090929-2
2 6-20080506-5
3 C-20100421-9

---
> R-015: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件だけ表示せよ。

In [45]:
df_customer%>%
filter(grepl("^[A-F].*[1-9]$", status_cd))%>%
head(3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS011215000048 芦田 沙耶     1         女性   1992-02-01 27  223-0062
2 CS022513000105 島村 貴美子   1         女性   1962-03-12 57  249-0002
3 CS001515000096 水野 陽子     9         不明   1960-11-29 58  144-0053
  address                                application_store_cd application_date
1 神奈川県横浜市港北区日吉本町********** S14011               20150228
2 神奈川県逗子市山の根**********         S14022               20150320
3 東京都大田区蒲田本町**********         S13001               20150614
  status_cd
1 C-20100421-9
2 A-20091115-7
3 A-20100724-7

---
> R-016: 店舗データフレーム（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [49]:
df_store%>%
filter(grepl("^[0-9]{3}-[0-9]{3}-[0-9]{4}$", tel_no))%>%
head(3)

  store_cd store_name prefecture_cd prefecture address
1 S12014   千草台店   12            千葉県     千葉県千葉市稲毛区千草台一丁目
2 S13002   国分寺店   13            東京都     東京都国分寺市本多二丁目
3 S14010   菊名店     14            神奈川県   神奈川県横浜市港北区菊名一丁目
  address_kana                                       tel_no       longitude
1 チバケンチバシイナゲクチグサダイイッチョウメ       043-123-4003 140.1180
2 トウキョウトコクブンジシホンダニチョウメ           042-123-4008 139.4802
3 カナガワケンヨコハマシコウホククキクナイッチョウメ 045-123-4032 139.6326
  latitude floor_area
1 35.63559 1698
2 35.70566 1735
3 35.50049 1732

---
> R-017: 顧客データフレーム（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭10件を全項目表示せよ。

In [54]:
df_customer%>%
arrange(birth_day)%>%
head(3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS003813000014 村山 菜々美   1         女性   1928-11-26 90  182-0007
2 CS026813000004 吉村 朝陽     1         女性   1928-12-14 90  251-0043
3 CS018811000003 熊沢 美里     1         女性   1929-01-07 90  204-0004
  address                          application_store_cd application_date
1 東京都調布市菊野台**********     S13003               20160214
2 神奈川県藤沢市辻堂元町********** S14026               20150723
3 東京都清瀬市野塩**********       S13018               20150403
  status_cd
1 0-00000000-0
2 0-00000000-0
3 0-00000000-0

---
> R-018: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭10件を全項目表示せよ。

In [55]:
df_customer%>%
arrange(desc(birth_day))%>%
head(3)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS035114000004 大村 美里     1         女性   2007-11-25 11  156-0053
2 CS022103000002 福山 はじめ   9         不明   2007-10-02 11  249-0006
3 CS002113000009 柴田 真悠子   1         女性   2007-09-17 11  184-0014
  address                          application_store_cd application_date
1 東京都世田谷区桜**********       S13035               20150619
2 神奈川県逗子市逗子**********     S14022               20160909
3 東京都小金井市貫井南町********** S13002               20160304
  status_cd
1 6-20091205-6
2 0-00000000-0
3 0-00000000-0

---
> R-019: レシート明細データフレーム（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭10件を抽出せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [61]:
df_receipt%>%
mutate(ranking = min_rank(desc(amount)))%>%
arrange(ranking)%>%
slice(1:10)

   sales_ymd sales_epoch store_cd receipt_no receipt_sub_no customer_id
1  20190903  1567468800  S14011   1192       2              CS011415000006
2  20190304  1551657600  S14046   1152       2              ZZ000000000000
3  20170921  1505952000  S14028   1192       2              CS028605000002
4  20170721  1500595200  S13015   1112       1              CS015515000034
5  20190103  1546473600  S14021   1162       2              ZZ000000000000
6  20190724  1563926400  S13009   1192       2              ZZ000000000000
7  20180621  1529539200  S13004   1172       2              ZZ000000000000
8  20190209  1549670400  S14021   1142       2              CS021515000089
9  20181219  1545177600  S13015   1132       1              CS015515000083
10 20180603  1527984000  S13017   1192       1              CS017414000114
   product_cd quantity amount ranking
1  P080104055 1        10925  1
2  P090302118 1         6800  2
3  P090907210 1         5780  3
4  P090907208 1         5480  4
5  P090907208 1         5480  4
6  P090907209 1         5480  4
7  P090907206 1         5440  7
8  P090907206 1         5440  7
9  P071301009 1         5280  9
10 P071301009 1         5280  9

---
> R-020: レシート明細データフレーム（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭10件を抽出せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [63]:
df_receipt%>%
mutate(ranking = row_number(desc(amount)))%>%
arrange(ranking)%>%
slice(1:10)

   sales_ymd sales_epoch store_cd receipt_no receipt_sub_no customer_id
1  20190903  1567468800  S14011   1192       2              CS011415000006
2  20190304  1551657600  S14046   1152       2              ZZ000000000000
3  20170921  1505952000  S14028   1192       2              CS028605000002
4  20170721  1500595200  S13015   1112       1              CS015515000034
5  20190103  1546473600  S14021   1162       2              ZZ000000000000
6  20190724  1563926400  S13009   1192       2              ZZ000000000000
7  20180621  1529539200  S13004   1172       2              ZZ000000000000
8  20190209  1549670400  S14021   1142       2              CS021515000089
9  20181219  1545177600  S13015   1132       1              CS015515000083
10 20180603  1527984000  S13017   1192       1              CS017414000114
   product_cd quantity amount ranking
1  P080104055 1        10925   1
2  P090302118 1         6800   2
3  P090907210 1         5780   3
4  P090907208 1         5480   4
5  P090907208 1         5480   5
6  P090907209 1         5480   6
7  P090907206 1         5440   7
8  P090907206 1         5440   8
9  P071301009 1         5280   9
10 P071301009 1         5280  10

---
> R-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [68]:
nrow(df_receipt)

[1] 104681

---
> R-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [73]:
unique(df_receipt$customer_id)%>%
length()

[1] 8307

---
> R-023: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [83]:
df_receipt%>%
group_by(store_cd)%>%
summarise(amount = sum(amount),
         quantity = sum(quantity),
         .groups = 'drop')%>%
head()
# .groups = 'drop'でグループ化を解除する

  store_cd amount quantity
1 S12007   638761 2099
2 S12013   787513 2425
3 S12014   725167 2358
4 S12029   794741 2555
5 S12030   684402 2403
6 S13001   811936 2347

---
> R-024: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上日（sales_ymd）を求め、10件表示せよ。

In [90]:
df_receipt%>%
group_by(customer_id)%>%
summarise(sales_ymd = max(sales_ymd), .groups = 'drop')%>%
head(10)
#

   customer_id    sales_ymd
1  CS001113000004 20190308
2  CS001114000005 20190731
3  CS001115000010 20190405
4  CS001205000004 20190625
5  CS001205000006 20190224
6  CS001211000025 20190322
7  CS001212000027 20170127
8  CS001212000031 20180906
9  CS001212000046 20170811
10 CS001212000070 20191018

---
> R-025: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も古い売上日（sales_ymd）を求め、10件表示せよ。

In [89]:
df_receipt%>%
group_by(customer_id)%>%
summarise(sales_ymd = min(sales_ymd))%>%
head(10)

   customer_id    sales_ymd
1  CS001113000004 20190308
2  CS001114000005 20180503
3  CS001115000010 20171228
4  CS001205000004 20170914
5  CS001205000006 20180207
6  CS001211000025 20190322
7  CS001212000027 20170127
8  CS001212000031 20180906
9  CS001212000046 20170811
10 CS001212000070 20191018

---
> R-026: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上日（sales_ymd）と古い売上日を求め、両者が異なるデータを10件表示せよ。

---
> R-027: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

---
> R-028: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

---
> R-029: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求めよ。

---
> R-030: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本分散を計算し、降順でTOP5を表示せよ。

---
> R-031: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本標準偏差を計算し、降順でTOP5を表示せよ。

---
> R-032: レシート明細データフレーム（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

---
> R-033: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

---
> R-034: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは10件だけ表示させれば良い。

---
> R-036: レシート明細データフレーム（df_receipt）と店舗データフレーム（df_store）を内部結合し、レシート明細データフレームの全項目と店舗データフレームの店舗名（store_name）を10件表示させよ。

---
> R-037: 商品データフレーム（df_product）とカテゴリデータフレーム（df_category）を内部結合し、商品データフレームの全項目とカテゴリデータフレームの小区分名（category_small_name）を10件表示させよ。

---
> R-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は10件だけ表示させれば良い。

---
> R-039: レシート明細データフレーム（df_receipt）から売上日数の多い顧客の上位20件と、売上金額合計の多い顧客の上位20件を抽出し、完全外部結合せよ。ただし、非会員（顧客IDが'Z'から始まるもの）は除外すること。

---
> R-040: 全ての店舗と全ての商品を組み合わせると何件のデータとなるか調査したい。店舗（df_store）と商品（df_product）を直積した件数を計算せよ。

---
> R-041: レシート明細データフレーム（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前日からの売上金額増減を計算せよ。なお、計算結果は10件表示すればよい。

---
> R-042: レシート明細データフレーム（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、１日前、２日前、３日前のデータを結合せよ。結果は10件表示すればよい。

---
> R-043: レシート明細データフレーム（df_receipt）と顧客データフレーム（df_customer）を結合し、性別（gender）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリデータフレーム（df_sales_summary）を作成せよ。性別は0が男性、1が女性、9が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

---
> R-044: 前設問で作成した売上サマリデータフレーム（df_sales_summary）は性別の売上を横持ちさせたものであった。このデータフレームから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を'00'、女性を'01'、不明を'99'とする。

---
> R-045: 顧客データフレーム（df_customer）の生年月日（birth_day）は日付型（Date）でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに抽出せよ。データは10件を抽出すれば良い。

---
> R-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMDD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。データは10件を抽出すれば良い。

---
> R-047: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型（dateやdatetime）に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

---
> R-048: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型（POSIXct）に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

---
> R-049: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（POSIXct）に変換し、"年"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

---
> R-050: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（POSIXct）に変換し、"月"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"月"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

---
> R-051: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（POSIXct）に変換し、"日"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"日"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

---
> R-052: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2000円以下を0、2000円超を1に2値化し、顧客ID、合計金額とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> R-053: 顧客データフレーム（df_customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを０に２値化せよ。さらにレシート明細データフレーム（df_receipt）と結合し、全期間において買い物実績のある顧客数を、作成した2値ごとにカウントせよ。

---
> R-054: 顧客データデータフレーム（df_customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに抽出せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。結果は10件表示させれば良い。

---
> R-055: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額と合計ともに表示せよ。カテゴリ値は上から順に1〜4とする。結果は10件表示させれば良い。
>
> - 最小値以上第一四分位未満
> - 第一四分位以上第二四分位未満
> - 第二四分位以上第三四分位未満
> - 第三四分位以上

---
> R-056: 顧客データフレーム（df_customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに抽出せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。先頭10件を表示させればよい。

---
> R-057: 前問題の抽出結果と性別（gender）を組み合わせ、新たに性別×年代の組み合わせを表すカテゴリデータを作成せよ。組み合わせを表すカテゴリの値は任意とする。先頭10件を表示させればよい。

---
> R-058: 顧客データフレーム（df_customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに抽出せよ。結果は10件表示させれば良い。

---
> R-059: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに表示せよ。標準化に使用する標準偏差は、不偏標準偏差と標本標準偏差のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

---
> R-060: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

---
> R-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ（ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること）。結果は10件表示させれば良い。

---
> R-062: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を自然対数化(底=e）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

---
> R-063: 商品データフレーム（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益額を算出せよ。結果は10件表示させれば良い。

---
> R-064: 商品データフレーム（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。 ただし、単価と原価にはNULLが存在することに注意せよ。

---
> R-065: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。ただし、1円未満は切り捨てること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

---
> R-066: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を四捨五入すること（0.5については偶数方向の丸めで良い）。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

---
> R-067: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を切り上げること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

---
> R-068: 商品データフレーム（df_product）の各商品について、消費税率10%の税込み金額を求めよ。1円未満の端数は切り捨てとし、結果は10件表示すれば良い。ただし、単価（unit_price）にはNULLが存在することに注意せよ。

---
> R-069: レシート明細データフレーム（df_receipt）と商品データフレーム（df_product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分"07"（瓶詰缶詰）の購入実績がある顧客のみとし、結果は10件表示させればよい。

---
> R-070: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過日数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。

---
> R-071: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過月数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1ヶ月未満は切り捨てること。

---
> R-072: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過年数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1年未満は切り捨てること。

---
> R-073: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は0時0分0秒を表すものとする。

---
> R-074: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、顧客ID、売上日、当該週の月曜日付とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値でデータを保持している点に注意）。

---
> R-075: 顧客データフレーム（df_customer）からランダムに1%のデータを抽出し、先頭から10件データを抽出せよ。

---
> R-076: 顧客データフレーム（df_customer）から性別（gender_cd）の割合に基づきランダムに10%のデータを層化抽出データし、性別ごとに件数を集計せよ。

---
> R-077: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を平均から3σ以上離れたものとする。結果は10件表示させれば良い。

---
> R-078: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第一四分位と第三四分位の差であるIQRを用いて、「第一四分位数-1.5×IQR」よりも下回るもの、または「第三四分位数+1.5×IQR」を超えるものとする。結果は10件表示させれば良い。

---
> R-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

---
> R-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

---
> R-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-082: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たなdf_product_3を作成せよ。なお、中央値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品の小区分（category_small_cd）ごとに算出した中央値で補完した新たなdf_product_4を作成せよ。なお、中央値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> R-084: 顧客データフレーム（df_customer）の全顧客に対し、全期間の売上金額に占める2019年売上金額の割合を計算せよ。ただし、販売実績のない場合は0として扱うこと。そして計算した割合が0超のものを抽出せよ。 結果は10件表示させれば良い。また、作成したデータにNAやNANが存在しないことを確認せよ。

---
> R-085: 郵便番号（postal_cd）を用いて経度緯度変換用データフレーム（df_geocode）を紐付け、新たなdf_customer_1を作成せよ。ただし、複数紐づく場合は経度（longitude）、緯度（latitude）それぞれ平均を算出すること。

---
> R-086: 前設問で作成した緯度経度つき顧客データフレーム（df_customer_1）に対し、申込み店舗コード（application_store_cd）をキーに店舗データフレーム（df_store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客の緯度・経度を用いて距離（km）を求め、顧客ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は10件表示すれば良い。

$$
緯度（ラジアン）：\phi \\
経度（ラジアン）：\lambda \\
距離L = 6371 * arccos(sin \phi_1 * sin \phi_2
+ cos \phi_1 * cos \phi_2 * cos(\lambda_1 − \lambda_2))
$$

---
> R-087: 顧客データフレーム（df_customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなし、1顧客1レコードとなるように名寄せした名寄顧客データフレーム（df_customer_u）を作成せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残すものとし、売上金額合計が同一もしくは売上実績の無い顧客については顧客ID（customer_id）の番号が小さいものを残すこととする。

---
> R-088: 前設問で作成したデータを元に、顧客データフレームに統合名寄IDを付与したデータフレーム（df_customer_n）を作成せよ。ただし、統合名寄IDは以下の仕様で付与するものとする。
> - 重複していない顧客：顧客ID（customer_id）を設定
> - 重複している顧客：前設問で抽出したレコードの顧客IDを設定

---
> R-089: 売上実績のある顧客に対し、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ8:2の割合でランダムにデータを分割せよ。

---
> R-090: レシート明細データフレーム（df_receipt）は2017年1月1日〜2019年10月31日までのデータを有している。売上金額（amount）を月次で集計し、学習用に12ヶ月、テスト用に6ヶ月のモデル構築用データを3セット作成せよ。

---
> R-091: 顧客データフレーム（df_customer）の各顧客に対し、売上実績のある顧客数と売上実績のない顧客数が1:1となるようにアンダーサンプリングで抽出せよ。

---
> R-092: 顧客データフレーム（df_customer）では、性別に関する情報が非正規化の状態で保持されている。これを第三正規化せよ。

---
> R-093: 商品データフレーム（df_product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリデータフレーム（df_category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品データフレームを作成せよ。

---
> R-094: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

---
> R-095: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはCP932

---
> R-096: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata
配下とする。
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ無し
> - 文字コードはUTF-8

---
> R-097: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

---
> R-098: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ無し
> - 文字コードはUTF-8

---
> R-099: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
> - ファイル形式はTSV（タブ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

---
> R-100: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
> - ファイル形式はTSV（タブ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

# これで１００本終わりです。おつかれさまでした！